
/* Переменные */
:root {
--accent-color: #2196F3;
--logo-color-header: #000000; 
--logo-color-footer: #FFFFFF;
--contact-namber-color: #757575;
--btn-color: #F5F4FA;
}


/*Скидываем общие настройки*/

.link {
    text-decoration: none;
  }

.list {
    list-style: none;
}

/*Общие настройки*/
body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #212121;
background: var(--logo-color-footer)
}

.about-theme-dark {
background: #F5F4FA;
 }

/*Герой*/  
.hero {
background-color: #2F303A;
}

.hero-btn-main {
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--logo-color-footer);
background-color: var(--accent-color);
}

/*.hero-btn-main:hover,
.hero-btn-main:focus{
background-color: var(--accent-color);
color: var(--btn-color);
}*/

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--logo-color-footer);
}

/*Заголовки*/
.info-section-title-text {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
}

/*Оформление лого*/
.logo-link {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color); 
}

.logo-header {
color: var(--logo-color-header);
}
.logo-footer {
color: var(--logo-color-footer)
}

/*Оформление шапки*/

.menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--menu-link-color);
}

.menu-link:hover, 
.menu-link:focus {
    color: var(--accent-color);
}

.accent{
color: #2196F3;
}

.contact-namber .link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--contact-namber-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

/*Оформление навигации */
.nav-btn-main {
font-weight: inherit;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
background: var(--btn-color);
cursor: pointer;
}

.nav-btn-main:hover,
.nav-btn-main:focus {
background-color: var(--accent-color);
color: var(--btn-color);
}

/*Наши приемущества*/
.title-info-section {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.contact-info-section {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--contact-namber-color);
}


/*Примеры работ*/
.employees-name{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.employees-position{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--contact-namber-color);
}

/*Наша команда*/
.about-item-info {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: #212121;
}
.about-item-work {
font-weight: 400;
font-size: inherit;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--contact-namber-color);
}


/*Оформление футера*/
.footer{
background: #2F303A;
}
.contact-adress-footer {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--logo-color-footer);
}

.contact-namber-footer {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.contact-namber-footer:hover,
.contact-namber-footer:focus {
    color:var(--accent-color);
}
.contact-adress-footer:hover,
.contact-adress-footer:focus {
    color: var(--accent-color);
}